.footer {
    h2 {
        margin-bottom: 15px;
    }

    &__area {
        background: #fff;
    }

    &__contact {
        background: url('../../img/footer_bg.png') no-repeat scroll left top;
        background-size: cover;
        border-left: 0 solid #000;
        border-right: 0 solid #000;
        border-top: 0 solid #000;
        border-bottom: 0 solid #000;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 22px;
        padding-bottom: 0;
    }

    &__contact-text {
        padding: 10px 0;

        .svg-inline--fa {
            margin-right: 10px;
        }

        >span {
            display: inline-block;
            letter-spacing: 0;
            line-height: 1em;
            font-size: 20px;
            font-weight: bold;
        }
    }

    &__contact-phone {
        padding: 15px 20px 10px;
        font-size: 24px;
        color: #fff;
        font-weight: bold;
        text-align: center;

        >a {
            color: #FF8C00;
        }
    }

    &__contact-sale-team {
        padding: 15px 20px 10px;

        span {
            display: block;
            width: max-content;
            border-radius: 5px;
            color: #333;
            text-transform: capitalize;
        }
    }

    &__content {
        margin-top: 20px;
        margin-bottom: 20px;

        h3 {
            font-size: 16px;
            color: #233859;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 1.8em;
            text-align: left;
        }
    }

    &__content-logo {
        margin-bottom: 10px;
    }

    &__content-address {
        font-size: 14px;
        margin-bottom: 20px;
    }

    &__link-item {
        >a {
            position: relative;
            font-family: Arial;
            font-size: 14px;
            color: #545454;
            letter-spacing: 0;
            line-height: 1.7em;
            text-align: left;

            &:before {
                display: block;
                content: '';
                position: absolute;
                left: -10px;
                top: 50%;
                transform: translateY(-50%);
                background-image: url('./../../icon/arrow.png');
                width: 4px;
                height: 7px;
            }

            &:hover {
                text-decoration: underline;
                color: #f5b00e;
            }
        }
    }

    &__copy-right {
        background-color: #1c304e;
        border-left: 0 solid #000;
        border-right: 0 solid #000;
        border-top: 0 solid #000;
        border-bottom: 0 solid #000;
    }

    .copyright {
        padding: 10px 0;

        p {
            font-size: 12px;
            color: #eee;

            span {
                color: #E3B20D;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        padding-bottom: 5px;

        &__inner {
            flex-wrap: wrap;
            padding: 10px;
        }

        &__col {
            width: 100%;
            padding: 5px;
        }

        h2 {
            font-size: 14px;
        }

        &__content {
            margin-bottom: 20px;
        }

        &__contact-sale-team {
            text-align: center;
        }

        &__link_01 {
            padding: 0 10px;
        }
    }
}