.logo--seleketon {
  width: 153px !important;
  height: 66px;
  margin: 10px 0;
}

.page-title--seleketon {
  width: 400px !important;
  height: 30px;
  margin: 70px 20px 30px;
}

.collections__img--sekeleton {
  max-width: calc(100% - 20px);
  height: 250px;
  margin: 10px;
}

.collections__title--sekeleton {
  height: 30px;
}

.collections__price--sekeleton {
  height: 18px;
  margin: 5px 5px 5px 0;
}

.search-form--seleketon {
  max-width: 450px;
  height: 45px;
}

.homeSlide--seleketon {
  height: 424px;
  margin: 20px 0 30px;
}

.menu__item--seleketon {
  >span {
    display: flex;
  }

  .menu__link {
    width: 100px !important;
    margin: 20px;
  }
}

.footer__contact-text--seleketon {
  max-width: 390px;
}

.footer__top-span--seleketon {
  height: 30px;
  margin: 20px 0;
}

.footer__contact-phone--seleketon {
  max-width: 450px;
}

.footer__contact-sale--seleketon {
  max-width: 164px;
}

.footer__content-logo--seleketon {
  width: 153px !important;
  height: 66px;
}

@media screen and (max-width: 1023px) {
  .logo-sp--seleketon {
    width: 96px !important;
    height: 30px;
  }

  .homeSlide--seleketon {
    height: 145px;
    margin: 20px 0 10px;
  }

  .menu__item--seleketon {
    background-color: var(--white);
    padding: 15px;

    >span {
      justify-content: space-between;
    }

    .menu__link {
      width: 40px !important;
      margin: 0;
    }
  }

  .page-title--seleketon {
    width: 250px !important;
    margin: 30px 0 32px;
  }

  .collections__img--sekeleton {
    height: 150px;
    padding: 7px;
  }

  .collections__title--sekeleton {
    height: 14px;
  }

  .search-form--seleketon {
    width: 336px !important;
    height: 37px;
    margin: 0 auto;
  }
}